<!DOCTYPE html>
<html>

<head>
    <title>JSON "Me" Viewer</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>JSON About Me Viewer</h1>
    <table>
        <tr>
            <th>First Name</th>
            <td><%= firstName %></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%= lastName %></td>
        </tr>
        <tr>
            <th>Favorite Foods</th>
            <td><%= favFoods %></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><%= age %></td>
        </tr>
        <tr>
            <th>Favorite Image</th>
            <td><img src="<%= favImage %>" height="500px"/></td>
        </tr>
    </table>

</body>

</html>